html {
    min-height: 100%;
    background-color: antiquewhite;
}
#btn1{
    position:absolute; 
    top:50%;
    left:98%;
    transform: translate(-90%, -90%);
    top: calc(100% - 56px);
}
#btn2{
    position:absolute; 
    top:50%;
    right:88%;
    transform: translate(-90%, -90%);
    top: calc(100% - 56px);
}
button {
    all: unset;
    cursor: pointer;
    outline: revert;
}
#setas{
    height: 2cm;
    width: 2cm;
}
#tit{
    text-align: center;
    font-size: 50px;
}
.img1{
    margin-left: 100px;
    height: 400px;
    width: 280px;
}
.img{
    height: 400px;
    width: 280px;
    margin: 10px;
}
#img{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#select img{
    margin-left: 100px;
    text-align: center;
}

#texto{
    text-align: center;
}