*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    padding: top;
    background-color: #0f0f0f;; 
    margin-top: 100px;
    overflow:auto; 
    width:100%
}
.icones{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 50px;
    background-color: #61122f;
}
.logo{
    position: fixed;
    margin-left: 10px;
    align-self: center ;
    width: 30px;
    height: 30px;
}
.container{
    border-top-color: #61122f;
    border-left-color: #555;
    border-width: 1px; 
    border-style: solid; 
    position: fixed;
    top: 90px;
    right: 0;
    transform: scale(1.1); 
    display: none;
    background-color: #0f0f0f;
    width: 375px;
    height: 100vh;

    text-align: justify-all;
}
button {
    width: 20px;
    height: 40px;
    all: unset;
    cursor: pointer;
    outline: revert;
    background-color: #61122f;
    align-self: center;
    margin-left: 1260px;
/* 
    will-change: transform;
    transition: transform 450ms; */
}

button:hover{
    transition: transform 250ms;
    transform: translateY(-18%)
}

.car{
    margin-left: 30px;
    margin-top: 10px;
    align-self: center;
	height:30px;
	top: 30px;
}
.opcao{
    border-radius: 10px;
    border-color: #555;
    border-width: 1px; 
    border-style: solid; 
    margin: 10px;
    margin-bottom: 30px;
    height: 350px;
    width:  300px;
    background-color: #0f0f0f;
}
.img{
    border-radius: 10px;
    height: 150px;
    width:  300px;
    margin: 0;
}
.nome{
    color:rgb(214, 205, 205); 
    float:left; 
    padding-right:3px;
    margin: 2px;
}
.btn{
    font: bold 15px Times;
    color: #fff;
    text-align: center;
    width: 200px;
    height: 55px; 
    border-radius: 10px;
    margin-top: 30px; 
    margin-right: 15px;
    margin-left: 40px; 
    border: none;
    background-color: #61122f; 
}
#main{
    margin-left: 225px;
    display: flex;
    flex-wrap: wrap;
}
.desc{
    color:rgb(211, 208, 208); 
    font:italic 15px Times,sans-serif; 
    float:left; 
    padding:1px 0; 
    width:100%;
    margin: 2px;
}
.tituloConta{
    text-align: center;
    font: bold 40px Times;
    color: #fff;
}
.txtConta{
    text-align: center;
    font: bold 20px Times;
    color: #fff;
}

.comprados{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.cancelar{
    height: 20px;
    width: 50px;
    background-color: #61122f;
}